* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
background-color: rgb(60,179,113, 0.6);
}

h1 {
  margin-left: 129px;
  font-size: 25px;
  border: 7px dashed green;
  width: 20vw;
  padding: 18px;
  background-color: purple;
  border-radius: 15px;
  color: white;
  font-style: italic;
  font-family: monospace;
  line-height: 36px;
  margin-top: 35px;
}

h2 {
  margin: 15px 25px;
  font-size: 23px;
}

#eu::before {
  content: "😃";
  margin-right: 5px;
}

#p-inicial {
  text-align: center;
  width: 471px;
  margin-left: 44PX;
  line-height: 27px;
  font-size: 15px;
  font-weight: 600;
  color: purple;
}

